<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">



    <!-- define BeanLifeCycleBean -->
    <bean name="BeanLifecycleDemoBean" destroy-method="customDestroy" init-method="customInit"
          class="com.stackroute.domain.BeanLifecycleDemoBean" />

    <!-- define BeanPostProcessorBean -->
    <bean name="BeanPostProcessorDemoBean"
          class="com.stackroute.domain.BeanPostProcessorDemoBean" />
</beans>
